<div class="fixed inset-0 z-50 flex items-center justify-center bg-gradient-to-br from-[#0f0f23] via-[#1a1a2e] to-[#16213e] bg-opacity-90 pointer-events-auto select-none">
  <div class="flex flex-col items-center justify-center min-h-screen font-sans text-white">
    <div class="relative mb-8">
      <div class="w-20 h-20 bg-gradient-to-br from-indigo-500 to-purple-600 rounded-full animate-[pulse_3s_ease-in-out_infinite] shadow-[0_0_20px_rgba(99,102,241,0.5),inset_0_0_20px_rgba(255,255,255,0.1)] relative md:w-16 md:h-16">
        <div class="absolute top-1/2 left-1/2 w-10 h-10 bg-white bg-opacity-10 rounded-full -translate-x-1/2 -translate-y-1/2 animate-pulse md:w-8 md:h-8"></div>
      </div>
      <div class="absolute top-1/2 left-1/2 w-32 h-32 bg-gradient-radial from-indigo-500/30 to-transparent rounded-full -translate-x-1/2 -translate-y-1/2 animate-pulse md:w-24 md:h-24"></div>
      <div class="absolute top-1/2 left-1/2 w-24 h-24 -translate-x-1/2 -translate-y-1/2 md:w-20 md:h-20">
        <div class="absolute w-1 h-1 bg-white bg-opacity-60 rounded-full top-[10%] left-[20%] animate-[pulse_4s_linear_infinite] md:w-[3px] md:h-[3px]"></div>
        <div class="absolute w-1 h-1 bg-white bg-opacity-60 rounded-full top-[30%] right-[10%] animate-[pulse_4s_linear_infinite_1s] md:w-[3px] md:h-[3px]"></div>
        <div class="absolute w-1 h-1 bg-white bg-opacity-60 rounded-full bottom-[20%] left-[10%] animate-[pulse_4s_linear_infinite_2s] md:w-[3px] md:h-[3px]"></div>
        <div class="absolute w-1 h-1 bg-white bg-opacity-60 rounded-full top-[60%] right-[30%] animate-[pulse_4s_linear_infinite_3s] md:w-[3px] md:h-[3px]"></div>
        <div class="absolute w-1 h-1 bg-white bg-opacity-60 rounded-full bottom-[40%] left-[60%] animate-[pulse_4s_linear_infinite_0.5s] md:w-[3px] md:h-[3px]"></div>
      </div>
    </div>
    <div class="text-center text-2xl font-medium mt-4 md:text-xl">
      <span class="mr-2">{{ loadingText }}</span>
      <span>
        <span class="inline-block w-2 h-2 bg-indigo-500 rounded-full mx-[1px] animate-bounce [animation-delay:-0.32s]"></span>
        <span class="inline-block w-2 h-2 bg-indigo-500 rounded-full mx-[1px] animate-bounce [animation-delay:-0.16s]"></span>
        <span class="inline-block w-2 h-2 bg-indigo-500 rounded-full mx-[1px] animate-bounce"></span>
      </span>
    </div>
  </div>
</div>