<!-- RESPONSIVE -->
<div class="flex flex-col  items-center max-w-svw justify-center min-h-screen bg-[#F3F4F6] md:p-8 py-8 ">
        <div id="invoice" class="md:max-w-4xl bg-white shadow-lg rounded-lg border p-8 border-[#E5E7EB]">
            <!-- Header -->
            <div class="flex justify-between items-start mb-8">
                <div class="flex">
                    <!-- <div class="mr-4">
                        <img [src]="logoUrl" alt="Company Logo" class="h-12 w-12 md:h-24 md:w-24 object-contain" />
                    </div> -->
                    <div class="">
                        <h2 class="text-sm md:text-xl font-bold">{{ userForm.get('company_name')?.value ?
                            userForm.get('company_name')?.value : "Company Name" }}</h2>
                        <p class="text-xs md:text-sm text-[#4B5563]">
                            {{ userForm.get('company_street_addr')?.value ?
                            userForm.get('company_street_addr')?.value : "Street Address" }},
                            {{ userForm.get('company_building_addr')?.value ?
                            userForm.get('company_building_addr')?.value : "Building" }},
                            {{ userForm.get('company_city')?.value ? userForm.get('company_city')?.value : "City"
                            }},
                        </p>
                        <p class="text-xs md:text-sm text-[#4B5563]">
                            {{ userForm.get('company_postcode')?.value ? userForm.get('company_postcode')?.value :
                            "Postcode" }},
                            {{ userForm.get('company_state')?.value ? userForm.get('company_state')?.value :
                            "State" }},
                        </p>
                        <p class="text-xs md:text-sm text-[#4B5563]">
                            {{ userForm.get('company_country')?.value ? userForm.get('company_country')?.value :
                            "Country" }}
                            </p>
                    </div>
                </div>
                <div class="text-right">
                    <p class="text-xs md:text-sm font-semibold">Invoice No</p>
                    <p class="text-xs md:text-sm text-[#4B5563] mb-2">
                        #{{ invoiceForm.get('invoice_no')?.value }}
                    </p>
                    <p class="text-xs md:text-sm font-semibold">Issue Date</p>
                    <p class="text-xs md:text-sm text-[#4B5563]">{{ currentDate | date:'dd/MM/yyyy hh:mm a' }}</p>

                </div>
            </div>

            <!-- Bill To -->
            <div class="mb-8 border-y border-[#E5E7EB] py-4">
                <h2 class="text-md md:text-xl font-semibold text-[#1F2937] mb-2">BILL TO</h2>
                <p class="text-xs md:text-sm text-[#374151]">{{ invoiceForm.get('customer_name')?.value }}</p>
                <p class="text-xs md:text-sm text-[#374151]">{{ invoiceForm.get('customer_email')?.value }}</p>
                <p class="text-xs md:text-sm text-[#374151]">{{ invoiceForm.get('customer_phone_no')?.value }}</p>
                <p class="text-xs md:text-sm text-[#374151] whitespace-pre-line">
                    {{ invoiceForm.get('customer_addr')?.value }}
                </p>
            </div>

            <!-- Items Table -->
            <div class="mb-2">
                <table class="w-full border-collapse">
                    <thead>
                        <tr class="bg-[#EEF2FF] text-left text-xs md:text-sm font-semibold text-[#4F46E5]">
                            <th class="p-3 border-b border-[#E0E7FF] w-[8%]">NO.</th>
                            <th class="p-3 border-b border-[#E0E7FF] w-[44%] md:w-[50%]">ITEM</th>
                            <th class="p-3 border-b border-[#E0E7FF] w-[12%]">QTY</th>
                            <th class="p-3 border-b border-[#E0E7FF] w-[18%]">PRICE</th>
                            <th class="p-3 border-b border-[#E0E7FF] w-[18%] text-right">AMOUNT</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of invoice.items; track $index) {
                        <tr class="text-left text-xs md:text-sm font-semibold align-text-top">
                            <td class="p-3 border-b border-[#E0E7FF]">{{ $index+1 }}</td>
                            <td class="p-3 border-b border-[#E0E7FF]">
                                <p class="">{{ item.name | titlecase }}</p>
                                <p class="font-light ml-4">{{ item.description }}
                                </p>
                            </td>
                            <td class="p-3 border-b border-[#E0E7FF] ">{{ item.quantity }}</td>
                            <td class="p-3 border-b border-[#E0E7FF] ">{{ item.price_per_unit.toString() |
                                currencySymbol:(item.currency) }}</td>
                            <td class="p-3 border-b border-[#E0E7FF] text-right">{{ item.total_price.toString() |
                                currencySymbol:(item.currency) }}</td>
                        </tr>
                        }
                    </tbody>

                    <!-- SUMMARY -->
                    <tfoot>
                        <tr class="text-xs md:text-sm font-medium">
                            <td colspan="4" class="px-3 py-3 text-left border-t border-[#E0E7FF] font-semibold">
                                TOTAL AMOUNT
                            </td>
                            <td class="px-3 py-3 text-right border-t border-[#E0E7FF] font-bold text-[#111827]">
                                {{ invoice.total_price | currencySymbol:(invoice.items[0]?.currency) }}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <!-- Footer -->
            <div class="text-right text-xs md:text-sm text-[#6B7280] border-t border-[#E5E7EB] pt-4">
                <p>Issued By</p>
                <!-- <div>
                    <p>Signature by base64</p>
                </div> -->
                <p>{{ userForm.get('first_name')?.value }} {{ userForm.get('last_name')?.value }}</p>
            </div>
        </div>
        @if(isEdit) {
        <div class="mt-8 w-full bg-white shadow-lg rounded-lg p-8 border border-[#E5E7EB]">

            <div>
                <!-- <h4 class="pb-4 font-semibold">Profile</h4> -->
                <!-- Tabs -->
                <div class="flex justify-around mb-4 ">
                    <a class="pb-2 text-sm font-medium hover:cursor-pointer " 
                        [class.text-blue-600]="activeTab === 'profile'"
                        [class.border-b-2]="activeTab === 'profile'"
                        (click)="activeTab = 'profile'">
                        Profile
                    </a>
                    <a class="pb-2 text-sm font-medium hover:cursor-pointer" [class.text-blue-600]="activeTab === 'customer'"
                        [class.border-b-2]="activeTab === 'customer'" (click)="activeTab = 'customer'">
                        Customer
                    </a>
                </div>
                @if (activeTab === "profile" ) {
                    @if ( !accessToken ) {
                        <button (click)="isLogin = !isLogin"
                            class="text-sm hover:cursor-pointer my-4 px-6 py-3 bg-linear-to-r from-[#A5B4FC] to-[#C7D2FE] text-[#1F2937]  font-semibold rounded-lg shadow-md hover:bg-[#4F46E5] focus:outline-none focus:ring-2 focus:ring-[#6366F1] focus:ring-opacity-50">
                            Login / Register
                        </button>
                    }
                    <div class="border-t border-[#E0E7FF] my-4 "></div>
                    <form [formGroup]="userForm" (ngSubmit)="saveEditedInvoice()">
                        <div class="mb-4">
                            <label for="first_name" class=" m-1 text-[#6B7280] ">First Name</label>
                            <input type="text" placeholder="First Name" formControlName="first_name"
                                [value]="invoiceForm.get('first_name')?.value"
                                class="w-full border p-2 mt-1 rounded-lg focus:outline-none focus:ring-indigo-500 focus:z-10 focus:ring-2 border-gray-600 placeholder:text-gray-400" />
                        </div>

                        <div class="mb-4">
                            <label for="last_name" class="m-1 text-[#6B7280] ">Last Name</label>
                            <input type="text" placeholder="Last Name" formControlName="last_name"
                                [value]="invoiceForm.get('last_name')?.value"
                                class="w-full border p-2 mt-1 rounded-lg focus:outline-none focus:ring-indigo-500 focus:z-10 focus:ring-2 border-gray-600 placeholder:text-gray-400" />
                        </div>
                        <div class="mb-4">
                            <label for="company_name" class="m-1 text-[#6B7280] ">Company Name</label>
                            <input type="text" placeholder="Company Name" formControlName="company_name"
                                [value]="invoiceForm.get('company_name')?.value"
                                class="w-full border p-2 mt-1 rounded-lg focus:outline-none focus:ring-indigo-500 focus:z-10 focus:ring-2 border-gray-600 placeholder:text-gray-400" />
                        </div>

                        <div class="mb-4">
                            <label for="company_building_addr" class="m-1 text-[#6B7280] ">Company Building Address</label>
                            <input type="text" placeholder="Company Building Address" formControlName="company_building_addr"
                                [value]="invoiceForm.get('company_building_addr')?.value"
                                class="w-full border p-2 mt-1 rounded-lg focus:outline-none focus:ring-indigo-500 focus:z-10 focus:ring-2 border-gray-600 placeholder:text-gray-400" />
                        </div>

                        <div class="mb-4">
                            <label for="company_street_addr" class="m-1 text-[#6B7280] ">Company Street Address</label>
                            <input type="text" placeholder="Company Street Address" formControlName="company_street_addr"
                                [value]="invoiceForm.get('company_street_addr')?.value"
                                class="w-full border p-2 mt-1 rounded-lg focus:outline-none focus:ring-indigo-500 focus:z-10 focus:ring-2 border-gray-600 placeholder:text-gray-400" />
                        </div>

                        <div class="mb-4">
                            <label for="company_postcode" class="m-1 text-[#6B7280] ">Company Postcode</label>
                            <input type="text" placeholder="Company Postcode" formControlName="company_postcode"
                                [value]="invoiceForm.get('company_postcode')?.value"
                                class="w-full border p-2 mt-1 rounded-lg focus:outline-none focus:ring-indigo-500 focus:z-10 focus:ring-2 border-gray-600 placeholder:text-gray-400" />
                        </div>

                        <div class="mb-4">
                            <label for="company_city" class="m-1 text-[#6B7280] ">Company City</label>
                            <input type="text" placeholder="Company City" formControlName="company_city"
                                [value]="invoiceForm.get('company_city')?.value"
                                class="w-full border p-2 mt-1 rounded-lg focus:outline-none focus:ring-indigo-500 focus:z-10 focus:ring-2 border-gray-600 placeholder:text-gray-400" />
                        </div>

                        <div class="mb-4">
                            <label for="company_state" class="m-1 text-[#6B7280] ">Company State</label>
                            <input type="text" placeholder="Company State" formControlName="company_state"
                                [value]="invoiceForm.get('company_state')?.value"
                                class="w-full border p-2 mt-1 rounded-lg focus:outline-none focus:ring-indigo-500 focus:z-10 focus:ring-2 border-gray-600 placeholder:text-gray-400" />
                        </div>

                        <div class="mb-4">
                            <label for="company_country" class="m-1 text-[#6B7280] ">Company Country</label>
                            <input type="text" placeholder="Company Country" formControlName="company_country"
                                [value]="invoiceForm.get('company_country')?.value"
                                class="w-full border p-2 mt-1 rounded-lg focus:outline-none focus:ring-indigo-500 focus:z-10 focus:ring-2 border-gray-600 placeholder:text-gray-400" />
                        </div>
                        @if(isLogin) {
                            <div class="w-9/12 md:w-1/4 pt-8 mx-auto">
                                <button type="submit" class="text-sm hover:cursor-pointer mx-2 px-6 py-3 w-full bg-linear-to-r from-[#6366F1] to-[#818CF8] text-white font-semibold rounded-lg shadow-md hover:bg-[#4F46E5] focus:outline-none focus:ring-2 focus:ring-[#6366F1] focus:ring-opacity-50">
                                    Save Invoice
                                </button>
                            </div>
                        }
                    </form>
                    
                } @else {
                    <form [formGroup]="invoiceForm" (ngSubmit)="saveEditedInvoice()">
                    <div class="mb-4">
                        <label for="invoice_no" class="m-1 text-[#6B7280] ">Invoice No.</label>
                        <input type="text" placeholder="Invoice No." formControlName="invoice_no"
                            [value]="invoiceForm.get('invoice_no')?.value"
                            class="w-full border p-2 mt-1 rounded-lg focus:outline-none focus:ring-indigo-500 focus:z-10 focus:ring-2 border-gray-600 placeholder:text-gray-400" />
                    </div>
                        <div class="mb-4">
                            <label for="customer_name" class="m-1 text-[#6B7280] ">Customer Name</label>
                            <input type="text" placeholder="Customer Name" formControlName="customer_name"
                                [value]="invoiceForm.get('customer_name')?.value"
                                class="w-full border p-2 mt-1 rounded-lg focus:outline-none focus:ring-indigo-500 focus:z-10 focus:ring-2 border-gray-600 placeholder:text-gray-400" />
                        </div>

                        <div class="mb-4">
                            <label for="customer_addr" class="m-1 text-[#6B7280] ">Customer Address</label>
                            <textarea type="area" placeholder="Customer Address" formControlName="customer_addr"
                                [value]="invoiceForm.get('customer_addr')?.value"
                                class="w-full border p-2 mt-1 rounded-lg focus:outline-none focus:ring-indigo-500 focus:z-10 focus:ring-2 border-gray-600 placeholder:text-gray-400" ></textarea>
                        </div>
                        <div class="w-9/12 md:w-1/4 pt-8 mx-auto">

                            @if (isLogin) {
                                <button type="submit" class="text-sm hover:cursor-pointer mx-2 px-6 py-3 w-full bg-linear-to-r from-[#6366F1] to-[#818CF8] text-white font-semibold rounded-lg shadow-md hover:bg-[#4F46E5] focus:outline-none focus:ring-2 focus:ring-[#6366F1] focus:ring-opacity-50">
                                    Save Invoice
                                </button>
                            }
                        </div>
                    </form>
                }
                
            </div>
            
            @if(isLogin) {
            <app-modal-auth (loginSuccess)="handleLoginSuccess($event)"></app-modal-auth>
            }
        </div>
        }
    <!-- Download Button -->
    <div class="w-11/12 md:w-1/4 pt-8">
        <div class="flex">
            <button routerLink="/record"
                class="text-sm hover:cursor-pointer mx-2 px-6 py-3 w-full bg-linear-to-r from-[#6366F1] to-[#818CF8] text-white font-semibold rounded-lg shadow-md hover:bg-[#4F46E5] focus:outline-none focus:ring-2 focus:ring-[#6366F1] focus:ring-opacity-50">
                Create New
            </button>
        
            @if (!isEdit) {
                <button (click)="isEdit = true"
                    class="text-sm hover:cursor-pointer mx-2 px-6 py-3 w-full bg-linear-to-r from-[#6366F1] to-[#818CF8] text-white font-semibold rounded-lg shadow-md hover:bg-[#4F46E5] focus:outline-none focus:ring-2 focus:ring-[#6366F1] focus:ring-opacity-50">
                    Edit Invoice
                </button>
            }
            </div>
            <button (click)="downloadInvoice()"
                class="text-sm hover:cursor-pointer mt-6 px-6 py-3 bg-linear-to-r from-[#A5B4FC] to-[#C7D2FE] text-[#1F2937]  font-semibold rounded-lg shadow-md hover:bg-[#4F46E5] focus:outline-none focus:ring-2 focus:ring-[#6366F1] focus:ring-opacity-50 w-full">
                Download PDF
            </button>
        </div>


    <!-- ------------------------------- -->
    <!-- HIDDEN - FOR DOWNLOAD PURPOSES  -->
    <!-- INVOICE WILL BE IN DESKTOP MODE -->
    <!-- ------------------------------- -->
    <div id="invoice-pdf" 
    class="hidden w-4xl bg-white shadow-lg rounded-lg p-8 border border-[#E5E7EB]">
        <!-- Header -->
        <div class="flex justify-between items-start mb-8">
            <div class="flex">
                <!-- <div class="mr-4">
                    <img [src]="logoUrl" alt="Company Logo" class="h-24 w-24 object-contain" />
                </div> -->
                <div class="">
                    <h2 class="text-xl font-bold tracking-wider">
                        {{ userForm.get('company_name')?.value ? userForm.get('company_name')?.value : "Company Name" }}
                    </h2>
                    <p class="text-sm text-[#4B5563]">
                        {{ userForm.get('company_street_addr')?.value ? userForm.get('company_street_addr')?.value : "Street Address" }},
                        {{ userForm.get('company_building_addr')?.value ?  userForm.get('company_building_addr')?.value : "Building" }},
                        {{ userForm.get('company_city')?.value ? userForm.get('company_city')?.value : "City"}},
                    </p>
                    <p class="text-sm text-[#4B5563]">
                        {{ userForm.get('company_postcode')?.value ? userForm.get('company_postcode')?.value :
                        "Postcode" }},
                        {{ userForm.get('company_state')?.value ? userForm.get('company_state')?.value :
                        "State" }},
                    </p>
                    <p class="text-sm text-[#4B5563]">
                        {{ userForm.get('company_country')?.value ? userForm.get('company_country')?.value : "Country" }}
                    </p>
                </div>
            </div>
            <div class="text-right">
                <p class="text-sm font-semibold">Invoice No</p>
                <p class="text-sm text-[#4B5563] mb-2">
                    #{{ invoiceForm.get('invoice_no')?.value }}
                </p>
                <p class="text-sm font-semibold">Issue Date</p>
                <p class="text-sm text-[#4B5563]">
                    {{ currentDate | date:'dd/MM/yyyy hh:mm a' }}
                </p>

            </div>
        </div>

        <!-- Bill To -->
        <div class="mb-8 border-y border-[#E5E7EB] py-4">
            <h2 class="text-xl font-semibold text-[#1F2937] mb-2">BILL TO</h2>
            <p class="text-sm text-[#374151]">{{ invoiceForm.get('customer_name')?.value }}</p>
            <p class="text-sm text-[#374151]">{{ invoiceForm.get('customer_email')?.value }}</p>
            <p class="text-sm text-[#374151]">{{ invoiceForm.get('customer_phone_no')?.value }}</p>
            <p class="text-sm text-[#374151] whitespace-pre-line">{{ invoiceForm.get('customer_addr')?.value }}</p>
        </div>

        <!-- Items Table -->
        <div class="mb-2">
            <table class="w-full border-collapse">
                <thead>
                    <tr class="bg-[#EEF2FF] text-left text-sm font-semibold text-[#4F46E5]">
                        <th class="p-3 border-b border-[#E0E7FF] w-[8%]">NO.</th>
                        <th class="p-3 border-b border-[#E0E7FF] w-[50%]">ITEM</th>
                        <th class="p-3 border-b border-[#E0E7FF] w-[12%]">QTY</th>
                        <th class="p-3 border-b border-[#E0E7FF] w-[18%]">PRICE</th>
                        <th class="p-3 border-b border-[#E0E7FF] w-[18%] text-right">AMOUNT</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of invoice.items; track $index) {
                    <tr class="text-left text-sm font-semibold align-text-top">
                        <td class="p-3 border-b border-[#E0E7FF]">{{ $index+1 }}</td>
                        <td class="p-3 border-b border-[#E0E7FF]">
                            <p class="">{{ item.name | titlecase }}</p>
                            <p class="font-light ml-4">Description: {{ item.description ? item.description : "None"}}
                            </p>
                        </td>
                        <td class="p-3 border-b border-[#E0E7FF] ">{{ item.quantity }}</td>
                        <td class="p-3 border-b border-[#E0E7FF] ">{{ item.price_per_unit.toString() |
                            currencySymbol:(item.currency) }}</td>
                        <td class="p-3 border-b border-[#E0E7FF] text-right">{{ item.total_price.toString() |
                            currencySymbol:(item.currency) }}</td>
                    </tr>
                    }
                </tbody>

                <!-- SUMMARY -->
                <tfoot>
                    <tr class="text-sm font-medium">
                        <td colspan="4" class="px-3 py-3 text-left border-t border-[#E0E7FF] font-semibold">
                            TOTAL AMOUNT
                        </td>
                        <td class="px-3 py-3 text-right border-t border-[#E0E7FF] font-bold text-[#111827]">
                            {{ invoice.total_price | currencySymbol:(invoice.items[0]?.currency) }}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <!-- Additional Details -->

        <!-- Footer -->
        <div class="text-right text-sm text-[#6B7280] border-t border-[#E5E7EB] pt-4">
            <p>Issued By</p>
            <!-- <div>
                <p>Signature by base64</p>
            </div> -->
            <p>{{ userForm.get('first_name')?.value }} {{ userForm.get('last_name')?.value }}</p>
        </div>
    </div>
</div>