name: CI/CD Pipeline (Dockerized)

on:
  push:
    branches: [prod]

jobs:
  build-and-deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build and deploy containers
        run: |
          docker-compose down
          docker-compose build --no-cache
          docker-compose up -d
